shots/*
node_modules/*
README.md/
yarn-error.log/
yarn.lock/
wdio.conf.js/
package-lock.json/
package.json/
./features/cart.feature
./features/download.feature
./features/order.feature
./features/pagination.feature
./features/upload.feature
